    ::-webkit-scrollbar {
    width: 12px;
    }  
    ::-webkit-scrollbar-track {
        background: #2389FC;
    }  
    ::-webkit-scrollbar-thumb {
        background-color: #001F3F;
        border-radius: 20px;
    }
    html {
        scroll-behavior: smooth;
    }
    *{    
        box-sizing: border-box;
    }
    h1 {font-size: 64px;}
    h2 {font-size: 32px;}
    h3 {font-size: 24px;}
    p {font-size: 16px;}

    h1, h2, h3 {
        margin: 0px;
    }

    button {
        border-radius: 10px;
        border-width: 0;
        font-weight: 900;
        color: white;
        width: 130px;
        height: 45px;
        align-items: center;
        background-color: #2389FC;
    }
    button p {
        margin: 0;
    }
    button:hover {
        background-color: #158EB5;
        border-width: 0;
    }
    button:active {
        background-color: #1A588B;
        border-width: 0;
    }

    body{
        scrollbar-width: thin;
        scrollbar-color: #001F3F #2389FC;
        margin: 0;
        padding: 0;
        font-family: "Roboto";
    }
    header{
        background-image: url("../img/Header.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        height: 1024px;
    }
    #header-nav {
        position: fixed;
        display: flex;
        background-color: #001F3F;
        width: calc(100% - 40px);
        margin: 13px 20px;
        padding: 8px 16px;
        height: 82.75px;
        border-radius: 80px;
        align-items: center;
        justify-content: flex-start;
        z-index: 1000;
    }

    #header-nav a {
        padding: 5px 0px;
    }
    #navbarNavDropdown{
        margin: 0px 34px;
    }
    #navbarNavDropdown a {
        text-decoration: none;
        color: #2389FC;
        font-size: 16px;
        padding: 8px 0px;
        text-align: center;
        line-height: 0;
    }
    #navbarNavDropdown ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #navbarNavDropdown li {
        padding: 0px 10px;
        display: inline;
    }
    #Inicio{
        margin: 0px 18px 0px auto;
    }    
    
    .cta-content{
        display: flex;
        margin: 0;
        padding: 280px 0px;
        justify-content: center;
        text-align: center;
    }
    .cta-text {
        max-width: 70%;
    }    
    .cta-text > h1, .cta-text > p {
        font-weight: 900;
        margin-bottom: 20px;
    }
    .cta-button {
        margin-top: 10px;
    }
    .cta-text > h1 > span {
        color: #2389FC;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;        
    }
    
    .about-us-content{
        position: relative;
        top: -41.375px;
        margin: 0;    
        justify-content: center;
        text-align: center;
    }
    .about-us-content > p {
        max-width: 600px;
        margin: 20px auto;
    }

    .section-title {
        position: relative;
        height: 82.75px;
        width: 320px;
        margin: 0px auto;
        color: white;
        border-radius: 80px;
        align-content: center;
        background-color: #001F3F;
    }

    .about-us-section{
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        display: flex;
    }
    
    .about-us-section p {
        margin: auto;
    }
    
    .mission-vision{
        position: relative;
        width: 40%;
        margin: 40px auto;
        padding: 0 20px;
        background-color: #EEEEEE;
        border-radius: 30px;
    }
    .vision-content, .mission-content{
        position: relative;
        top: -40px;
    }
    .mission-vision h3{
        color: #2389FC;
        margin: 10px;
    }
    .mission-vision p {
        max-width: 400px;
    }

    .mission-vision img {
        position: relative;
        max-width: 80px;
        border-radius: 30%;
        padding: 10px;
    }
    .mission-content img{
        background-color: #001F3F;
    }
    .vision-content img{
        background-color: #2389FC;
    }
    
    #team h2{
        padding-bottom: 40px;
        color: #2389FC;
    }

    .team-members {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .team-member {
        box-sizing: content-box;
        width: 200px;
        margin-bottom: 20px;
        padding: 0px 0px 10px 0px;
        background-color: #001F3F;
        color: #2389FC;
        border-radius: 40px;
    }
    
    .team-member img {
        width: 100%;
        height: 150px;
        border-radius: 40px 40px 0px 0px;
        object-fit: cover;
        object-position: center;
    }
    
    .team-member h3 {
        margin-top: 10px;
        line-height: normal;
    }    

    #why-choose-us {
        background-color: #2389FC;
        padding: 50px 0;
        text-align: center;
    }
    
    #why-choose-us h2 {
        margin-bottom: 20px;
        color: #001F3F;
    }
    
    #why-choose-us p {
        margin-bottom: 20px;
        color: #ffffff;
    }
    
    .services {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .service {
        flex: 1;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        max-width: 250px;
        text-align: center;
        background-color: transparent; /* Transparente para camuflarse con el fondo */
        box-shadow: none; /* Eliminar cualquier sombra que pueda estar presente */
    }
    
    .service i {
        font-size: 40px;
        margin-bottom: 10px;
        color: #ffffff;
    }
    
    .service h3 {
        margin: 10px 0;
        color: #001F3F;
    }
    
    .service p {
        color: #ffffff;
    }

    /* Estilos para la sección de testimonios de clientes */
    #customer-testimonials {
        padding: 50px 0;
        background-color: #fff;
    }

    #customer-testimonials .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials-header {
        flex: 1;
        max-width: 400px; 
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .testimonials-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: -40px; 
    }

    .testimonials-header h2 {
        margin-bottom: 10px;
    }

    .testimonials-header p {
        margin-bottom: 20px;
    }

    .statistics {
        display: flex;
        justify-content: space-between;
    }

    .stat-item {
        text-align: left;
        margin-right: 20px;
    }

    .statistics p {
        margin: 10px 0;
        font-size: 16px;
    }

    .statistics .highlight {
        font-weight: bold;
    }

    .stars {
        display: flex;
    }

    .stars span {
        color: gold;
        font-size: 18px;
    }

    .testimonial {
        flex: 1;
        padding: 20px 20px 0 20px;
        text-align: left;
        max-width: 400px;
        margin-left: auto;
        margin-right: 0; 
    }

    .testimonial-profile {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .testimonial-profile img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 10px;
        object-fit: cover;
    }

    .testimonial-profile .name {
        font-weight: bold;
        margin: 0;
    }

    .testimonial-profile .title {
        margin: 0;
        color: #666;
    }

    blockquote {
        font-style: italic;
        margin: 0;
    }

    .testimonial-navigation {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
    }

    .nav-button {
        background-color: #f0f0f0;
        color:#2389FC;
        border: none;
        width: 50px;
        padding: 10px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
    }

    .nav-button:hover {
        background-color: #e0e0e0;
    }
    #demonstration-video {
        text-align: center;
        padding: 50px 0;
        background-color: #f9f9f9;
    }

    #demonstration-video h2 {
        background-color: #2389FC;
        color: #fff;
        padding: 20px;
        border-radius: 8px; 
        display: inline-block;
    }
    #demonstration-video p {
        font-size: 16px;
        margin-bottom:40px;
    }

    #demonstration-video video{
        border-radius: 40px;
    }
    .video-container {
        display: flex;
        justify-content: center;
    }
    #features {
        text-align: center;
        padding: 50px 0;
        background-color: #f9f9f9;
    }
    
    #features h2 {
        margin-bottom: 30px;
        color: #2389FC;
    }
    
    .features-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .features-item {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 250px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .features-item img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-bottom: 15px;

    }
    
    .features-item h3 {
        margin-bottom: 10px;
    }
    
    .features-item p {
        font-size: 16px;
        color: #666;
    }

    #pricing {
        text-align: center;
        padding: 50px 0;
        background-color: #f5f5f5;
    }
    
    #pricing h2 {
        background-color: #2389FC;
      color: #fff;
        border-radius: 40px;
        margin-bottom: 20px;
        display: inline-block;
        padding: 10px 20px;
    }
    
    #pricing p {
        font-size: 16px;
        color: #666;
        margin-bottom: 40px;
    }
    
    .pricing-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pricing-plan {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        width: 300px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .pricing-plan h3 {
        margin-bottom: 20px;
    }
    
    .price {
        font-size: 48px;
        color: #27ae60;
        margin-bottom: 20px;
    }

    .commission-info {
        font-style: italic; 
    }
    
    .material-icons {
        margin-right: 5px; 
        vertical-align: middle; 
    }
    
    .pricing-plan ul {
        list-style-type: none; 
        padding: 0; 
        
    }
    
    .pricing-plan li {
        margin-bottom: 10px; 
    }
    .gallery-section {
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
        background-color: #EEEEEE;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    
    .gallery-section h2 {
        text-align: center;
        color: #007bff;
        margin-bottom: 40px;
    }
    
    .gallery-item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    
    .gallery-item img {
        width: 50%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .gallery-item .gallery-text {
        width: 50%;
        padding: 20px;
    }
    
    .gallery-item .gallery-text h3 {
        margin-bottom: 10px;
    }
    
    .gallery-item .gallery-text p {
        margin-bottom: 10px;
    }