
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#why-choose-us {
    background-color: #a0f4dc;
    padding: 50px 0;
    text-align: center;
}

#why-choose-us h2 {
    margin-bottom: 20px;
}

#why-choose-us p {
    margin-bottom: 40px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
    background-color: transparent; /* Transparente para camuflarse con el fondo */
    box-shadow: none; /* Eliminar cualquier sombra que pueda estar presente */
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #333;
}

.service h3 {
    margin: 10px 0;
}

.service p {
    color: #666;
}

/* Estilos para la sección de testimonios de clientes */
#customer-testimonials {
    padding: 50px 0;
    background-color: #fff;
}

#customer-testimonials .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-header {
    flex: 1;
    max-width: 400px; 
    margin-right: 20px;
    margin-bottom: 40px;
}

.testimonials-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -40px; 
}

.testimonials-header h2 {
    margin-bottom: 10px;
}

.testimonials-header p {
    margin-bottom: 20px;
}

.statistics {
    display: flex;
    justify-content: space-between;
}

.stat-item {
    text-align: left;
    margin-right: 20px;
}

.statistics p {
    margin: 10px 0;
    font-size: 16px;
}

.statistics .highlight {
    font-weight: bold;
}

.stars {
    display: flex;
}

.stars span {
    color: gold;
    font-size: 18px;
}

.testimonial {
    flex: 1;
    padding: 20px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: 0; 
}

.testimonial-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.testimonial-profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
}

.testimonial-profile .name {
    font-weight: bold;
    margin: 0;
}

.testimonial-profile .title {
    margin: 0;
    color: #666;
}

blockquote {
    font-style: italic;
    margin: 0;
}

.testimonial-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.nav-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #e0e0e0;
}
